<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="container">
        <!-- <img src="Logo.png" alt="Imagen 2" class="image-0" /> -->
        <!-- <img src="Logo.png" alt="Imagen 1" class="image-1" /> -->
        <img src="Logo2.png" alt="Imagen 2" class="image-2" />
      </div>      
      <h1>Hello</h1>
      <p>We're preparing something great.</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side" style="display: flex; align-items: center">
      
      <div class="social-links">
        <a
          href="https://www.instagram.com/MiradPro.pro?igsh=Z2ZkNzdoa2o4dmU="
          aria-label="Instagram"
          target="_blank"
          rel="noopener"
        >
        <img src="instagram.png" alt="instagram" style="width: 42px; height: 42px; opacity: 0.7"/>
        </a>
      </div>
    </div>
  </div>
</main>

<router-outlet />
